<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><strong>Page:</strong> {{tableParams.page()}}</p>
        <p><strong>Count per page:</strong> {{tableParams.count()}}</p>
        
        <table ng-table="tableParams" class="table">
        <tr ng-repeat="pref in $data">
            <td data-title="'Code'">{{pref.pref_code}}</td>
            <td data-title="'Name'">{{pref.pref_name}}</td>
            <td data-title="'Area'">{{pref.area_code}}</td>
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>